{% extends "/admin/index.html.twig" %}
{% set menu_selected = 'attraction' %}

{% block content %}
    <div class="box box-info">
        <div class="box-header with-border">
            <ol class="breadcrumb">
                <li><a href="attraction.php"><i class="fa fa-exclamation-circle"></i> Достопримечательности</a></li>
                <li class="active">{% if attraction is defined %}{{ attraction.title_ru }}{% else %}Новая достопримечательность{% endif %}</li>
            </ol>
        </div>

        <ul class="nav nav-tabs">
            {% for lan in lang %}
                <li{% if loop.index == 1 %} class="active"{% endif %}><a data-toggle="tab" href="#panel_{{ lan.code }}"><img class="flag flag-{{ lan.code }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"> {{ lan.name }}</a></li>
            {% endfor %}
        </ul>

        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" id="id" value="{% if attraction is defined %}{{ attraction.id }}{% else %}0{% endif %}">
            <div class="box-body">
                {% if error is defined  %}
                    <div class="alert alert-warning alert-dismissible">
                        <ul>
                            {% for e in error %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="tab-content">
                    <div id="panel_ru" class="tab-pane fade in active">
                        <div class="form-group">
                            <label for="title_ru" class="col-sm-2 control-label">Название (ru)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_ru" id="title_ru" placeholder="Название" value="{% if attraction is defined %}{{ attraction.title_ru }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text_ru" class="col-sm-2 control-label">Полное описание (ru)</label>
                            <div class="col-sm-6">
                        <textarea name="text_ru" id="editor1" rows="10" cols="80">
                            {% if attraction is defined %}{{ attraction.text_ru }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                    </div>
                    <div id="panel_us" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_en" class="col-sm-2 control-label">Название (en)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_en" id="title_en" placeholder="Название" value="{% if attraction is defined %}{{ attraction.title_en }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text_en" class="col-sm-2 control-label">Полное описание (en)</label>
                            <div class="col-sm-6">
                        <textarea name="text_en" id="editor2" rows="10" cols="80">
                            {% if attraction is defined %}{{ attraction.text_en }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                    </div>
                    <div id="panel_cn" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_cn" class="col-sm-2 control-label">Название (cn)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_cn" id="title_cn" placeholder="Название" value="{% if attraction is defined %}{{ attraction.title_cn }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text_cn" class="col-sm-2 control-label">Полное описание (cn)</label>
                            <div class="col-sm-6">
                        <textarea name="text_cn" id="editor3" rows="10" cols="80">
                            {% if attraction is defined %}{{ attraction.text_cn }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                    </div>
                    <div id="panel_fr" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_fr" class="col-sm-2 control-label">Название (fr)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_fr" id="title_fr" placeholder="Название" value="{% if attraction is defined %}{{ attraction.title_fr }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text_fr" class="col-sm-2 control-label">Полное описание (fr)</label>
                            <div class="col-sm-6">
                        <textarea name="text_fr" id="editor4" rows="10" cols="80">
                            {% if attraction is defined %}{{ attraction.text_fr }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                    </div>
                    <div id="panel_es" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_es" class="col-sm-2 control-label">Название (es)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_es" id="title_es" placeholder="Название" value="{% if attraction is defined %}{{ attraction.title_es }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text_es" class="col-sm-2 control-label">Полное описание (es)</label>
                            <div class="col-sm-6">
                        <textarea name="text_es" id="editor5" rows="10" cols="80">
                            {% if attraction is defined %}{{ attraction.text_es }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                    </div>
                    <div id="panel_vn" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_vn" class="col-sm-2 control-label">Название (vn)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_vn" id="title_vn" placeholder="Название" value="{% if attraction is defined %}{{ attraction.title_vn }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text_vn" class="col-sm-2 control-label">Полное описание (vn)</label>
                            <div class="col-sm-6">
                        <textarea name="text_vn" id="editor6" rows="10" cols="80">
                            {% if attraction is defined %}{{ attraction.text_vn }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                    </div>
                    <div id="panel_tr" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_tr" class="col-sm-2 control-label">Название (tr)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_tr" id="title_tr" placeholder="Название" value="{% if attraction is defined %}{{ attraction.title_tr }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text_tr" class="col-sm-2 control-label">Полное описание (tr)</label>
                            <div class="col-sm-6">
                        <textarea name="text_tr" id="editor7" rows="10" cols="80">
                            {% if attraction is defined %}{{ attraction.text_tr }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="isActive" class="col-sm-2 control-label">Опубликовано</label>
                    <div class="col-sm-6">
                        <input type="checkbox" class="form-control-static" name="isActive" id="isActive" value="1" {% if attraction is defined %}{% if attraction.isActive == 1 %} checked {% endif %}{% endif %} style="width: 25px;">
                    </div>
                </div>
                <div class="form-group">
                    <label for="text_cn" class="col-sm-2 control-label">Отображать в гостиницах</label>
                    <div class="col-sm-6" style="font-size: 18px;">
                        {% for hotel in hotels %}

                        <input type="checkbox" name="hotels[]" value="{{ hotel.id }}" style="width: 20px; height: 20px;" {% if ha[hotel.id] is defined %}checked{% endif %}> {{ hotel.title_ru }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-success" name="save" id="save">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock %}
