{% extends "/admin/index.html.twig" %}
{% set menu_selected = 'home' %}

{% block content %}
    <div class="box box-info">
        <div class="box-header with-border">
            <ol class="breadcrumb">
                <li><a href="hotels.php"><i class="fa fa-home"></i> Гостиницы</a></li>
                <li class="active">{% if hotels is defined %}{{ hotels.title_ru }}{% else %}Новый отель{% endif %}</li>
            </ol>
        </div>

        <ul class="nav nav-tabs">
            {% for lan in lang %}
            <li{% if loop.index == 1 %} class="active"{% endif %}><a data-toggle="tab" href="#panel_{{ lan.code }}"><img class="flag flag-{{ lan.code }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"> {{ lan.name }}</a></li>
            {% endfor %}
        </ul>
        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="id" id="id" value="{% if hotels is defined %}{{ hotels.id }}{% else %}0{% endif %}">
                <div class="box-body">
                    {% if error is defined  %}
                    <div class="alert alert-warning alert-dismissible">
                    <ul>
                        {% for e in error %}
                            <li>{{ e }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="tab-content">
                        <div id="panel_ru" class="tab-pane fade in active">
                            <div class="form-group">
                                <label for="title_ru" class="col-sm-2 control-label">Название (ru)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="title_ru" id="title_ru" placeholder="Название" value="{% if hotels is defined %}{{ hotels.title_ru }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description_ru" class="col-sm-2 control-label">Описание (ru)</label>
                                <div class="col-sm-6">
                        <textarea name="description_ru" id="editor1" rows="10" cols="80">
                            {% if hotels is defined %}{{ hotels.description_ru }}{% endif %}
                        </textarea>
                                </div>
                            </div>
                            <div class="box-header h3">Поисковые сервисы</div>
                            <div class="form-group">
                                <label for="meta_desc_ru" class="col-sm-2 control-label">Описание (ru)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="meta_desc_ru" id="meta_desc_ru" placeholder="Описание для поисковых сервисов" value="{% if hotels is defined %}{{ hotels.meta_desc_ru }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="meta_key_ru" class="col-sm-2 control-label">Ключевые слова (ru)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="meta_key_ru" id="meta_key_ru" placeholder="Ключевые слова для поисковых сервисов" value="{% if hotels is defined %}{{ hotels.meta_key_ru }}{% endif %}">
                                </div>
                            </div>
                            <div class="box-header h3">Контактная информация</div>
                            <div class="form-group">
                                <label for="address_ru" class="col-sm-2 control-label">Адрес (ru)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="address_ru" id="address_ru" placeholder="Адрес" value="{% if hotels is defined %}{{ hotels.address_ru }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subway_ru" class="col-sm-2 control-label">Метро (ru)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="subway_ru" id="subway_ru" placeholder="Ближайшее метро" value="{% if hotels is defined %}{{ hotels.subway_ru }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address_description_ru" class="col-sm-2 control-label">Описание (ru)</label>
                                <div class="col-sm-6">
                        <textarea name="address_description_ru" id="editor2" rows="10" cols="80">
                            {% if hotels is defined %}{{ hotels.address_description_ru }}{% endif %}
                        </textarea>
                                </div>
                            </div>
                        </div>
                        <div id="panel_us" class="tab-pane fade">
                            <div class="form-group">
                                <label for="title_us" class="col-sm-2 control-label">Название (en)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="title_us" id="title_us" placeholder="Название" value="{% if hotels is defined %}{{ hotels.title_us }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description_us" class="col-sm-2 control-label">Описание (en)</label>
                                <div class="col-sm-6">
                                    <textarea name="description_us" id="editor3" rows="10" cols="80">
                                        {% if hotels is defined %}{{ hotels.description_us }}{% endif %}
                                    </textarea>
                                </div>
                            </div>
                            <div class="box-header h3">Поисковые сервисы</div>
                            <div class="form-group">
                                <label for="meta_desc_us" class="col-sm-2 control-label">Описание (en)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="meta_desc_us" id="meta_desc_us" placeholder="Описание для поисковых сервисов" value="{% if hotels is defined %}{{ hotels.meta_desc_us }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="meta_key_us" class="col-sm-2 control-label">Ключевые слова (en)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="meta_key_us" id="meta_key_us" placeholder="Ключевые слова для поисковых сервисов" value="{% if hotels is defined %}{{ hotels.meta_key_us }}{% endif %}">
                                </div>
                            </div>
                            <div class="box-header h3">Контактная информация</div>
                            <div class="form-group">
                                <label for="address_us" class="col-sm-2 control-label">Адрес (en)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="address_us" id="address_us" placeholder="Адрес" value="{% if hotels is defined %}{{ hotels.address_us }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subway_us" class="col-sm-2 control-label">Метро (en)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="subway_us" id="subway_us" placeholder="Ближайшее метро" value="{% if hotels is defined %}{{ hotels.subway_us }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address_description_us" class="col-sm-2 control-label">Описание (en)</label>
                                <div class="col-sm-6">
                        <textarea name="address_description_us" id="editor4" rows="10" cols="80">
                            {% if hotels is defined %}{{ hotels.address_description_us }}{% endif %}
                        </textarea>
                                </div>
                            </div>
                        </div>
                        <div id="panel_cn" class="tab-pane fade">
                            <div class="form-group">
                                <label for="title_cn" class="col-sm-2 control-label">Название (cn)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="title_cn" id="title_cn" placeholder="Название" value="{% if hotels is defined %}{{ hotels.title_cn }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description_cn" class="col-sm-2 control-label">Описание (cn)</label>
                                <div class="col-sm-6">
                        <textarea name="description_cn" id="editor5" rows="10" cols="80">
                            {% if hotels is defined %}{{ hotels.description_cn }}{% endif %}
                        </textarea>
                                </div>
                            </div>
                            <div class="box-header h3">Поисковые сервисы</div>
                            <div class="form-group">
                                <label for="meta_desc_cn" class="col-sm-2 control-label">Описание (cn)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="meta_desc_cn" id="meta_desc_cn" placeholder="Описание для поисковых сервисов" value="{% if hotels is defined %}{{ hotels.meta_desc_cn }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="meta_key_cn" class="col-sm-2 control-label">Ключевые слова (cn)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="meta_key_cn" id="meta_key_cn" placeholder="Ключевые слова для поисковых сервисов" value="{% if hotels is defined %}{{ hotels.meta_key_cn }}{% endif %}">
                                </div>
                            </div>
                            <div class="box-header h3">Контактная информация</div>
                            <div class="form-group">
                                <label for="address_cn" class="col-sm-2 control-label">Адрес (cn)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="address_cn" id="address_cn" placeholder="Адрес" value="{% if hotels is defined %}{{ hotels.address_cn }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subway_cn" class="col-sm-2 control-label">Метро (cn)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="subway_cn" id="subway_cn" placeholder="Ближайшее метро" value="{% if hotels is defined %}{{ hotels.subway_cn }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address_description_cn" class="col-sm-2 control-label">Описание (cn)</label>
                                <div class="col-sm-6">
                        <textarea name="address_description_cn" id="editor6" rows="10" cols="80">
                            {% if hotels is defined %}{{ hotels.address_description_cn }}{% endif %}
                        </textarea>
                                </div>
                            </div>
                        </div>
                        <div id="panel_fr" class="tab-pane fade">
                            <div class="form-group">
                                <label for="title_fr" class="col-sm-2 control-label">Название (fr)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="title_fr" id="title_fr" placeholder="Название" value="{% if hotels is defined %}{{ hotels.title_fr }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description_fr" class="col-sm-2 control-label">Описание (fr)</label>
                                <div class="col-sm-6">
                        <textarea name="description_fr" id="editor7" rows="10" cols="80">
                            {% if hotels is defined %}{{ hotels.description_fr }}{% endif %}
                        </textarea>
                                </div>
                            </div>
                            <div class="box-header h3">Поисковые сервисы</div>
                            <div class="form-group">
                                <label for="meta_desc_fr" class="col-sm-2 control-label">Описание (fr)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="meta_desc_fr" id="meta_desc_fr" placeholder="Описание для поисковых сервисов" value="{% if hotels is defined %}{{ hotels.meta_desc_fr }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="meta_key_fr" class="col-sm-2 control-label">Ключевые слова (fr)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="meta_key_fr" id="meta_key_fr" placeholder="Ключевые слова для поисковых сервисов" value="{% if hotels is defined %}{{ hotels.meta_key_fr }}{% endif %}">
                                </div>
                            </div>
                            <div class="box-header h3">Контактная информация</div>
                            <div class="form-group">
                                <label for="address_fr" class="col-sm-2 control-label">Адрес (fr)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="address_fr" id="address_fr" placeholder="Адрес" value="{% if hotels is defined %}{{ hotels.address_fr }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subway_fr" class="col-sm-2 control-label">Метро (fr)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="subway_fr" id="subway_fr" placeholder="Ближайшее метро" value="{% if hotels is defined %}{{ hotels.subway_fr }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address_description_fr" class="col-sm-2 control-label">Описание (fr)</label>
                                <div class="col-sm-6">
                        <textarea name="address_description_fr" id="editor8" rows="10" cols="80">
                            {% if hotels is defined %}{{ hotels.address_description_fr }}{% endif %}
                        </textarea>
                                </div>
                            </div>
                        </div>
                        <div id="panel_es" class="tab-pane fade">
                            <div class="form-group">
                                <label for="title_fr" class="col-sm-2 control-label">Название (es)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="title_es" id="title_es" placeholder="Название" value="{% if hotels is defined %}{{ hotels.title_es }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description_es" class="col-sm-2 control-label">Описание (es)</label>
                                <div class="col-sm-6">
                        <textarea name="description_es" id="editor9" rows="10" cols="80">
                            {% if hotels is defined %}{{ hotels.description_es }}{% endif %}
                        </textarea>
                                </div>
                            </div>
                            <div class="box-header h3">Поисковые сервисы</div>
                            <div class="form-group">
                                <label for="meta_desc_es" class="col-sm-2 control-label">Описание (es)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="meta_desc_es" id="meta_desc_es" placeholder="Описание для поисковых сервисов" value="{% if hotels is defined %}{{ hotels.meta_desc_es }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="meta_key_es" class="col-sm-2 control-label">Ключевые слова (es)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="meta_key_es" id="meta_key_es" placeholder="Ключевые слова для поисковых сервисов" value="{% if hotels is defined %}{{ hotels.meta_key_es }}{% endif %}">
                                </div>
                            </div>
                            <div class="box-header h3">Контактная информация</div>
                            <div class="form-group">
                                <label for="address_es" class="col-sm-2 control-label">Адрес (es)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="address_es" id="address_es" placeholder="Адрес" value="{% if hotels is defined %}{{ hotels.address_es }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subway_es" class="col-sm-2 control-label">Метро (es)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="subway_es" id="subway_es" placeholder="Ближайшее метро" value="{% if hotels is defined %}{{ hotels.subway_es }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address_description_es" class="col-sm-2 control-label">Описание (es)</label>
                                <div class="col-sm-6">
                        <textarea name="address_description_es" id="editor10" rows="10" cols="80">
                            {% if hotels is defined %}{{ hotels.address_description_es }}{% endif %}
                        </textarea>
                                </div>
                            </div>
                        </div>
                        <div id="panel_vn" class="tab-pane fade">
                            <div class="form-group">
                                <label for="title_vn" class="col-sm-2 control-label">Название (vn)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="title_vn" id="title_vn" placeholder="Название" value="{% if hotels is defined %}{{ hotels.title_vn }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description_vn" class="col-sm-2 control-label">Описание (vn)</label>
                                <div class="col-sm-6">
                        <textarea name="description_vn" id="editor11" rows="10" cols="80">
                            {% if hotels is defined %}{{ hotels.description_vn }}{% endif %}
                        </textarea>
                                </div>
                            </div>
                            <div class="box-header h3">Поисковые сервисы</div>
                            <div class="form-group">
                                <label for="meta_desc_vn" class="col-sm-2 control-label">Описание (vn)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="meta_desc_vn" id="meta_desc_vn" placeholder="Описание для поисковых сервисов" value="{% if hotels is defined %}{{ hotels.meta_desc_vn }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="meta_key_vn" class="col-sm-2 control-label">Ключевые слова (vn)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="meta_key_vn" id="meta_key_vn" placeholder="Ключевые слова для поисковых сервисов" value="{% if hotels is defined %}{{ hotels.meta_key_vn }}{% endif %}">
                                </div>
                            </div>
                            <div class="box-header h3">Контактная информация</div>
                            <div class="form-group">
                                <label for="address_vn" class="col-sm-2 control-label">Адрес (vn)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="address_vn" id="address_vn" placeholder="Адрес" value="{% if hotels is defined %}{{ hotels.address_vn }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subway_vn" class="col-sm-2 control-label">Метро (vn)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="subway_vn" id="subway_vn" placeholder="Ближайшее метро" value="{% if hotels is defined %}{{ hotels.subway_vn }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address_description_vn" class="col-sm-2 control-label">Описание (vn)</label>
                                <div class="col-sm-6">
                        <textarea name="address_description_vn" id="editor12" rows="10" cols="80">
                            {% if hotels is defined %}{{ hotels.address_description_vn }}{% endif %}
                        </textarea>
                                </div>
                            </div>
                        </div>
                        <div id="panel_tr" class="tab-pane fade">
                            <div class="form-group">
                                <label for="title_tr" class="col-sm-2 control-label">Название (tr)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="title_tr" id="title_tr" placeholder="Название" value="{% if hotels is defined %}{{ hotels.title_tr }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description_tr" class="col-sm-2 control-label">Описание (tr)</label>
                                <div class="col-sm-6">
                        <textarea name="description_tr" id="editor13" rows="10" cols="80">
                            {% if hotels is defined %}{{ hotels.description_tr }}{% endif %}
                        </textarea>
                                </div>
                            </div>
                            <div class="box-header h3">Поисковые сервисы</div>
                            <div class="form-group">
                                <label for="meta_desc_tr" class="col-sm-2 control-label">Описание (tr)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="meta_desc_tr" id="meta_desc_tr" placeholder="Описание для поисковых сервисов" value="{% if hotels is defined %}{{ hotels.meta_desc_tr }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="meta_key_tr" class="col-sm-2 control-label">Ключевые слова (tr)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="meta_key_tr" id="meta_key_tr" placeholder="Ключевые слова для поисковых сервисов" value="{% if hotels is defined %}{{ hotels.meta_key_tr }}{% endif %}">
                                </div>
                            </div>
                            <div class="box-header h3">Контактная информация</div>
                            <div class="form-group">
                                <label for="address_vn" class="col-sm-2 control-label">Адрес (tr)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="address_tr" id="address_tr" placeholder="Адрес" value="{% if hotels is defined %}{{ hotels.address_tr }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subway_tr" class="col-sm-2 control-label">Метро (tr)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="subway_tr" id="subway_tr" placeholder="Ближайшее метро" value="{% if hotels is defined %}{{ hotels.subway_tr }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address_description_tr" class="col-sm-2 control-label">Описание (tr)</label>
                                <div class="col-sm-6">
                        <textarea name="address_description_tr" id="editor14" rows="10" cols="80">
                            {% if hotels is defined %}{{ hotels.address_description_tr }}{% endif %}
                        </textarea>
                                </div>
                            </div>
                        </div>
                        <div id="panel_de" class="tab-pane fade">
                            <div class="form-group">
                                <label for="title_de" class="col-sm-2 control-label">Название (de)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="title_de" id="title_de" placeholder="Название" value="{% if hotels is defined %}{{ hotels.title_de }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description_de" class="col-sm-2 control-label">Описание (de)</label>
                                <div class="col-sm-6">
                        <textarea name="description_de" id="editor15" rows="10" cols="80">
                            {% if hotels is defined %}{{ hotels.description_de }}{% endif %}
                        </textarea>
                                </div>
                            </div>
                            <div class="box-header h3">Поисковые сервисы</div>
                            <div class="form-group">
                                <label for="meta_desc_de" class="col-sm-2 control-label">Описание (de)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="meta_desc_de" id="meta_desc_de" placeholder="Описание для поисковых сервисов" value="{% if hotels is defined %}{{ hotels.meta_desc_de }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="meta_key_de" class="col-sm-2 control-label">Ключевые слова (de)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="meta_key_de" id="meta_key_de" placeholder="Ключевые слова для поисковых сервисов" value="{% if hotels is defined %}{{ hotels.meta_key_de }}{% endif %}">
                                </div>
                            </div>
                            <div class="box-header h3">Контактная информация</div>
                            <div class="form-group">
                                <label for="address_vn" class="col-sm-2 control-label">Адрес (de)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="address_de" id="address_de" placeholder="Адрес" value="{% if hotels is defined %}{{ hotels.address_de }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subway_de" class="col-sm-2 control-label">Метро (de)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="subway_de" id="subway_de" placeholder="Ближайшее метро" value="{% if hotels is defined %}{{ hotels.subway_de }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address_description_de" class="col-sm-2 control-label">Описание (de)</label>
                                <div class="col-sm-6">
                        <textarea name="address_description_de" id="editor16" rows="10" cols="80">
                            {% if hotels is defined %}{{ hotels.address_description_de }}{% endif %}
                        </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="box-header h3">Контент общий для всех языковых версий</div>
                    <div class="form-group">
                        <label for="online_link" class="col-sm-2 control-label">Online бронирование</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="online_link" id="online_link" placeholder="Ссылка на online бронирование" value="{% if hotels is defined %}{{ hotels.online_link }}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="logo" class="col-sm-2 control-label">Изображение</label>
                        <div class="col-sm-8">
                            {% if hotels.logo is not null %}
                                <div><img src="{{ hotels.logo }}" width="300"> </div>
                                <br>
                            {% endif %}
                            <input type="file" name="logo" class="form-control" id="logo">
                        </div>
                    </div>
                    {% if hotels.id is defined %}
                    <div class="form-group">
                        <label for="logo" class="col-sm-2 control-label">Места общего пользования</label>

                        <div class="col-sm-8">
                            <input type="file" name="files[]" id="filer_input2" multiple="multiple">
                            <div class="jFiler-items jFiler-row">
                                <ul class="jFiler-items-list jFiler-items-grid">
                                    {% for value in images %}
                                        <li class="jFiler-item" data-jfiler-index="0" style="">
                                            <div class="jFiler-item-container">
                                                <div class="jFiler-item-inner">
                                                    <div class="jFiler-item-thumb">
                                                        <div class="jFiler-item-thumb-image">
                                                            <img src="{{ path }}{{ value }}" draggable="true">
                                                        </div>
                                                    </div>
                                                    <div class="jFiler-item-assets jFiler-row">
                                                        <ul class="list-inline pull-left">
                                                            <li>
                                                                <div class="jFiler-item-others text-success">
                                                                    <i class="icon-jfi-check-circle"></i> {{ value }}
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <ul class="list-inline pull-right">
                                                            <li class="del-img" id="{{ value }}">
                                                                <a class="icon-jfi-trash jFiler-item-trash-action"></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="box-header h3">Контактная информация</div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">Контактный телефон</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Номер телефона отеля" value="{% if hotels is defined %}{{ hotels.phone }}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone2" class="col-sm-2 control-label">Дополнительный телефон</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="phone2" id="phone2" placeholder="Дополнительный номер телефона" value="{% if hotels is defined %}{{ hotels.phone2 }}{% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">E-mail</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="email" id="email" placeholder="E-mail" value="{% if hotels is defined %}{{ hotels.email }}{% endif %}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="maps_link" class="col-sm-2 control-label">Код карты</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="maps_link" id="maps_link" placeholder="Введите код карты" value="{% if hotels is defined %}{{ hotels.maps_link }}{% endif %}">
                        </div>
                    </div>
                    {% if rooms is defined %}
                    <div class="box-header h3">Редаткирование номеров</div>
                    {#<div><a href="rooms2hotels.php?hid={{ hotels.id }}" title="Редактирование номеров" class="btn btn-facebook"><i class="fa fa-bed"> Редаткирование номеров</i> </a></div>#}
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-6">
                            <table class="table">
                                {% for value in rooms %}
                                    <tr>
                                        <td>
                                            <a href="rooms2hotels.php?hid={{ hotels.id }}&rid={{ value.id }}" class="btn btn-block btn-primary">{{ value.title_ru }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-success" name="save" id="save">Сохранить</button>
                </div>
                </form>
    </div>
{% endblock %}
