{% extends "/admin/index.html.twig" %}
{% set menu_selected = 'info' %}

{% block content %}
    <div class="box box-info">
        <div class="box-header with-border">
            <ol class="breadcrumb">
                <li><a href="information.php"><i class="fa fa-exclamation-circle"></i> Полезная информация</a></li>
                <li class="active">{% if info is defined %}{{ info.title_ru }}{% else %}Новая страница{% endif %}</li>
            </ol>
        </div>
        <ul class="nav nav-tabs">
            {% for lan in lang %}
                <li{% if loop.index == 1 %} class="active"{% endif %}><a data-toggle="tab" href="#panel_{{ lan.code }}"><img class="flag flag-{{ lan.code }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"> {{ lan.name }}</a></li>
            {% endfor %}
        </ul>
        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" id="id" value="{% if info is defined %}{{ info.id }}{% else %}0{% endif %}">
            <div class="box-body">
                {% if error is defined  %}
                    <div class="alert alert-warning alert-dismissible">
                        <ul>
                            {% for e in error %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="tab-content">
                    <div id="panel_ru" class="tab-pane fade in active">
                        <div class="form-group">
                            <label for="title_ru" class="col-sm-2 control-label">Название (ru)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_ru" id="title_ru" placeholder="Название" value="{% if info is defined %}{{ info.title_ru }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description_ru" class="col-sm-2 control-label">Краткое описание (ru)</label>
                            <div class="col-sm-6">
                        <textarea name="description_ru" id="editor1" rows="10" cols="80">
                            {% if info is defined %}{{ info.description_ru }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text_ru" class="col-sm-2 control-label">Полное описание (ru)</label>
                            <div class="col-sm-6">
                        <textarea name="text_ru" id="editor2" rows="10" cols="80">
                            {% if info is defined %}{{ info.text_ru }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                        <div class="box-header h3">Поисковые сервисы</div>
                        <div class="form-group">
                            <label for="meta_desc_ru" class="col-sm-2 control-label">Описание (ru)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="meta_desc_ru" id="meta_desc_ru" placeholder="Описание для поисковых сервисов" value="{% if info is defined %}{{ info.meta_desc_ru }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="meta_key_ru" class="col-sm-2 control-label">Ключевые слова (ru)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="meta_key_ru" id="meta_key_ru" placeholder="Ключевые слова для поисковых сервисов" value="{% if info is defined %}{{ info.meta_key_ru }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div id="panel_us" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_us" class="col-sm-2 control-label">Название (us)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_us" id="title_us" placeholder="Название" value="{% if info is defined %}{{ info.title_us }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description_us" class="col-sm-2 control-label">Краткое описание (us)</label>
                            <div class="col-sm-6">
                        <textarea name="description_us" id="editor3" rows="10" cols="80">
                            {% if info is defined %}{{ info.description_us }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text_us" class="col-sm-2 control-label">Полное описание (us)</label>
                            <div class="col-sm-6">
                        <textarea name="text_us" id="editor4" rows="10" cols="80">
                            {% if info is defined %}{{ info.text_us }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                        <div class="box-header h3">Поисковые сервисы</div>
                        <div class="form-group">
                            <label for="meta_desc_us" class="col-sm-2 control-label">Описание (us)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="meta_desc_us" id="meta_desc_us" placeholder="Описание для поисковых сервисов" value="{% if info is defined %}{{ info.meta_desc_us }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="meta_key_us" class="col-sm-2 control-label">Ключевые слова (us)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="meta_key_us" id="meta_key_us" placeholder="Ключевые слова для поисковых сервисов" value="{% if info is defined %}{{ info.meta_key_us }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div id="panel_cn" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_cn" class="col-sm-2 control-label">Название (cn)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_cn" id="title_cn" placeholder="Название" value="{% if info is defined %}{{ info.title_cn }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description_cn" class="col-sm-2 control-label">Краткое описание (cn)</label>
                            <div class="col-sm-6">
                        <textarea name="description_cn" id="editor5" rows="10" cols="80">
                            {% if info is defined %}{{ info.description_cn }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text_cn" class="col-sm-2 control-label">Полное описание (cn)</label>
                            <div class="col-sm-6">
                        <textarea name="text_cn" id="editor6" rows="10" cols="80">
                            {% if info is defined %}{{ info.text_cn }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                        <div class="box-header h3">Поисковые сервисы</div>
                        <div class="form-group">
                            <label for="meta_desc_cn" class="col-sm-2 control-label">Описание (cn)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="meta_desc_cn" id="meta_desc_cn" placeholder="Описание для поисковых сервисов" value="{% if info is defined %}{{ info.meta_desc_cn }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="meta_key_cn" class="col-sm-2 control-label">Ключевые слова (cn)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="meta_key_cn" id="meta_key_cn" placeholder="Ключевые слова для поисковых сервисов" value="{% if info is defined %}{{ info.meta_key_cn }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div id="panel_fr" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_fr" class="col-sm-2 control-label">Название (fr)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_fr" id="title_fr" placeholder="Название" value="{% if info is defined %}{{ info.title_fr }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description_fr" class="col-sm-2 control-label">Краткое описание (fr)</label>
                            <div class="col-sm-6">
                        <textarea name="description_fr" id="editor7" rows="10" cols="80">
                            {% if info is defined %}{{ info.description_fr }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text_fr" class="col-sm-2 control-label">Полное описание (fr)</label>
                            <div class="col-sm-6">
                        <textarea name="text_fr" id="editor8" rows="10" cols="80">
                            {% if info is defined %}{{ info.text_fr }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                        <div class="box-header h3">Поисковые сервисы</div>
                        <div class="form-group">
                            <label for="meta_desc_fr" class="col-sm-2 control-label">Описание (fr)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="meta_desc_fr" id="meta_desc_fr" placeholder="Описание для поисковых сервисов" value="{% if info is defined %}{{ info.meta_desc_fr }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="meta_key_fr" class="col-sm-2 control-label">Ключевые слова (fr)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="meta_key_fr" id="meta_key_fr" placeholder="Ключевые слова для поисковых сервисов" value="{% if info is defined %}{{ info.meta_key_fr }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div id="panel_es" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_es" class="col-sm-2 control-label">Название (es)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_es" id="title_es" placeholder="Название" value="{% if info is defined %}{{ info.title_es }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description_es" class="col-sm-2 control-label">Краткое описание (es)</label>
                            <div class="col-sm-6">
                        <textarea name="description_es" id="editor9" rows="10" cols="80">
                            {% if info is defined %}{{ info.description_es }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text_es" class="col-sm-2 control-label">Полное описание (es)</label>
                            <div class="col-sm-6">
                        <textarea name="text_es" id="editor10" rows="10" cols="80">
                            {% if info is defined %}{{ info.text_es }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                        <div class="box-header h3">Поисковые сервисы</div>
                        <div class="form-group">
                            <label for="meta_desc_es" class="col-sm-2 control-label">Описание (es)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="meta_desc_es" id="meta_desc_es" placeholder="Описание для поисковых сервисов" value="{% if info is defined %}{{ info.meta_desc_es }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="meta_key_es" class="col-sm-2 control-label">Ключевые слова (es)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="meta_key_es" id="meta_key_es" placeholder="Ключевые слова для поисковых сервисов" value="{% if info is defined %}{{ info.meta_key_es }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div id="panel_vn" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_vn" class="col-sm-2 control-label">Название (vn)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_vn" id="title_vn" placeholder="Название" value="{% if info is defined %}{{ info.title_vn }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description_vn" class="col-sm-2 control-label">Краткое описание (vn)</label>
                            <div class="col-sm-6">
                        <textarea name="description_vn" id="editor11" rows="10" cols="80">
                            {% if info is defined %}{{ info.description_vn }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text_vn" class="col-sm-2 control-label">Полное описание (vn)</label>
                            <div class="col-sm-6">
                        <textarea name="text_vn" id="editor12" rows="10" cols="80">
                            {% if info is defined %}{{ info.text_vn }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                        <div class="box-header h3">Поисковые сервисы</div>
                        <div class="form-group">
                            <label for="meta_desc_vn" class="col-sm-2 control-label">Описание (vn)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="meta_desc_vn" id="meta_desc_vn" placeholder="Описание для поисковых сервисов" value="{% if info is defined %}{{ info.meta_desc_vn }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="meta_key_vn" class="col-sm-2 control-label">Ключевые слова (vn)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="meta_key_vn" id="meta_key_vn" placeholder="Ключевые слова для поисковых сервисов" value="{% if info is defined %}{{ info.meta_key_vn }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div id="panel_tr" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_tr" class="col-sm-2 control-label">Название (tr)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_tr" id="title_tr" placeholder="Название" value="{% if info is defined %}{{ info.title_tr }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description_tr" class="col-sm-2 control-label">Краткое описание (tr)</label>
                            <div class="col-sm-6">
                        <textarea name="description_tr" id="editor13" rows="10" cols="80">
                            {% if info is defined %}{{ info.description_tr }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text_tr" class="col-sm-2 control-label">Полное описание (tr)</label>
                            <div class="col-sm-6">
                        <textarea name="text_tr" id="editor14" rows="10" cols="80">
                            {% if info is defined %}{{ info.text_tr }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                        <div class="box-header h3">Поисковые сервисы</div>
                        <div class="form-group">
                            <label for="meta_desc_tr" class="col-sm-2 control-label">Описание (tr)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="meta_desc_tr" id="meta_desc_tr" placeholder="Описание для поисковых сервисов" value="{% if info is defined %}{{ info.meta_desc_tr }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="meta_key_tr" class="col-sm-2 control-label">Ключевые слова (tr)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="meta_key_tr" id="meta_key_tr" placeholder="Ключевые слова для поисковых сервисов" value="{% if info is defined %}{{ info.meta_key_tr }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div id="panel_de" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_de" class="col-sm-2 control-label">Название (de)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_de" id="title_de" placeholder="Название" value="{% if info is defined %}{{ info.title_de }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description_de" class="col-sm-2 control-label">Краткое описание (de)</label>
                            <div class="col-sm-6">
                        <textarea name="description_de" id="editor15" rows="10" cols="80">
                            {% if info is defined %}{{ info.description_de }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text_de" class="col-sm-2 control-label">Полное описание (de)</label>
                            <div class="col-sm-6">
                        <textarea name="text_de" id="editor16" rows="10" cols="80">
                            {% if info is defined %}{{ info.text_de }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                        <div class="box-header h3">Поисковые сервисы</div>
                        <div class="form-group">
                            <label for="meta_desc_de" class="col-sm-2 control-label">Описание (de)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="meta_desc_de" id="meta_desc_de" placeholder="Описание для поисковых сервисов" value="{% if info is defined %}{{ info.meta_desc_de }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="meta_key_de" class="col-sm-2 control-label">Ключевые слова (de)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="meta_key_de" id="meta_key_de" placeholder="Ключевые слова для поисковых сервисов" value="{% if info is defined %}{{ info.meta_key_de }}{% endif %}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="isActive" class="col-sm-2 control-label">Опубликовано</label>
                    <div class="col-sm-6">
                        <input type="checkbox" class="form-control-static" name="isActive" id="isActive" value="1" {% if info is defined %}{% if info.isActive == 1 %} checked {% endif %}{% endif %} style="width: 25px;">
                    </div>
                </div>
                <div class="form-group">
                    <label for="logo" class="col-sm-2 control-label">Изображение</label>
                    <div class="col-sm-8">
                        {% if info.logo is not null %}
                            <div><img src="{{ info.logo }}" width="300"> </div>
                            <br>
                        {% endif %}
                        <input type="file" name="logo" class="form-control" id="logo">
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-success" name="save" id="save">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock %}
