{% extends "/admin/index.html.twig" %}
{% set menu_selected = 'promo' %}

{% block content %}
    <div class="box box-info">
        <div class="box-header with-border">
            <ol class="breadcrumb">
                <li><a href="promo.php"><i class="fa fa-thumbs-o-up"></i> Специальные предложения</a></li>
                <li class="active">{% if promo is defined %}{{ promo.title_ru }}{% else %}Новое предложение{% endif %}</li>
            </ol>
        </div>
        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" id="id" value="{% if promo is defined %}{{ promo.id }}{% else %}0{% endif %}">
            <div class="box-body">
                {% if error is defined  %}
                    {{ error }}
                {% endif %}
                <div class="form-group">
                    <label for="isActive" class="col-sm-2 control-label">Активно</label>
                    <div class="col-sm-6">
                        <input type="checkbox" class="form-control-static" name="isActive" id="isActive" value="1" {% if promo is defined %}{% if promo.isActive == 1 %} checked {% endif %}{% endif %} style="width: 25px;">
                    </div>
                </div>
                <div class="form-group">
                    <label for="title_ru" class="col-sm-2 control-label">Название (ru)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="title_ru" id="title_ru" placeholder="Название" value="{% if promo is defined %}{{ promo.title_ru }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="title_us" class="col-sm-2 control-label">Название (en)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="title_us" id="title_us" placeholder="Название" value="{% if promo is defined %}{{ promo.title_us }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="title_cn" class="col-sm-2 control-label">Название (cn)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="title_cn" id="title_cn" placeholder="Название" value="{% if promo is defined %}{{ promo.title_cn }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dateRange" class="col-sm-2 control-label">Срок действия</label>

                    <div class="col-sm-6">
                        <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="dateRange" name="dateRange" {% if promo is defined %}value="{% if promo.start_ts is not null and promo.stop_ts is not null %}{{ promo.start_ts|date('m/d/Y') }} - {{ promo.stop_ts|date('m/d/Y') }}{% endif %}"{% endif %} placeholder="Оставьте пустым, если это постоянная акция">
                        </div>
                    </div>
                    <!-- /.input group -->
                </div>

                <div class="form-group">
                    <label for="description_ru" class="col-sm-2 control-label">Коротое описание (ru)</label>
                    <div class="col-sm-6">
                        <textarea name="description_ru" id="editor1" rows="10" cols="80">
                            {% if promo is defined %}{{ promo.description_ru }}{% endif %}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description_us" class="col-sm-2 control-label">Коротое описание (en)</label>
                    <div class="col-sm-6">
                        <textarea name="description_us" id="editor2" rows="10" cols="80">
                            {% if promo is defined %}{{ promo.description_us }}{% endif %}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description_cn" class="col-sm-2 control-label">Коротое описание (cn)</label>
                    <div class="col-sm-6">
                        <textarea name="description_cn" id="editor3" rows="10" cols="80">
                            {% if promo is defined %}{{ promo.description_cn }}{% endif %}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="text_ru" class="col-sm-2 control-label">Полное описание (ru)</label>
                    <div class="col-sm-6">
                        <textarea name="text_ru" id="editor4" rows="10" cols="80">
                            {% if promo is defined %}{{ promo.text_ru }}{% endif %}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="text_en" class="col-sm-2 control-label">Полное описание (en)</label>
                    <div class="col-sm-6">
                        <textarea name="text_en" id="editor5" rows="10" cols="80">
                            {% if promo is defined %}{{ promo.text_us }}{% endif %}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="text_cn" class="col-sm-2 control-label">Полное описание (cn)</label>
                    <div class="col-sm-6">
                        <textarea name="text_cn" id="editor6" rows="10" cols="80">
                            {% if promo is defined %}{{ promo.text_cn }}{% endif %}
                        </textarea>
                    </div>
                </div>
                <div class="box-header h3">Поисковые сервисы</div>
                <div class="form-group">
                    <label for="meta_desc_ru" class="col-sm-2 control-label">Описание (ru)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="meta_desc_ru" id="meta_desc_ru" placeholder="Описание для поисковых сервисов" value="{% if promo is defined %}{{ promo.meta_desc_ru }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="meta_desc_us" class="col-sm-2 control-label">Описание (en)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="meta_desc_us" id="meta_desc_us" placeholder="Описание для поисковых сервисов" value="{% if promo is defined %}{{ promo.meta_desc_us }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="meta_desc" class="col-sm-2 control-label">Описание (cn)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="meta_desc_cn" id="meta_desc_cn" placeholder="Описание для поисковых сервисов" value="{% if promo is defined %}{{ promo.meta_desc_cn }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="meta_key_ru" class="col-sm-2 control-label">Ключевые слова (ru)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="meta_key_ru" id="meta_key_ru" placeholder="Ключевые слова для поисковых сервисов" value="{% if promo is defined %}{{ promo.meta_key_ru }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="meta_key_us" class="col-sm-2 control-label">Ключевые слова (en)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="meta_key_us" id="meta_key_us" placeholder="Ключевые слова для поисковых сервисов" value="{% if promo is defined %}{{ promo.meta_key_us }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="meta_key" class="col-sm-2 control-label">Ключевые слова (cn)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="meta_key_cn" id="meta_key_cn" placeholder="Ключевые слова для поисковых сервисов" value="{% if promo is defined %}{{ promo.meta_key_cn }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="image" class="col-sm-2 control-label">Изображение</label>
                    <div class="col-sm-8">
                        {% if promo.image is not null %}
                            <div><img src="{{ promo.image }}" > </div>
                            <br>
                        {% endif %}
                        <input type="file" name="image" class="form-control" id="image">
                    </div>
                </div>
                <div class="form-group">
                    <label for="slide_image" class="col-sm-2 control-label">Изображение для слайдера</label>
                    <div class="col-sm-8">
                        {% if promo.slide_image is not null %}
                            <div><img src="{{ promo.slide_image }}" width="300"> </div>
                            <br>
                        {% endif %}
                        <input type="file" name="slide_image" class="form-control" id="slide_image">
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-success" name="save" id="save">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock %}
