{% extends "/admin/index.html.twig" %}
{% set menu_selected = 'rates_room' %}

{% block content %}
    <div class="box box-info">
        <div class="box-header with-border">
            <ol class="breadcrumb">
                <li><a href="rates_room.php"><i class="fa fa-money"></i> Тарифы на проживание</a></li>
                <li class="active">{% if rates is defined %}{{ rates.title_ru }}{% else %}Новый тариф{% endif %}</li>
            </ol>
        </div>
        <ul class="nav nav-tabs">
            {% for lan in lang %}
                <li{% if loop.index == 1 %} class="active"{% endif %}><a data-toggle="tab" href="#panel_{{ lan.code }}"><img class="flag flag-{{ lan.code }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"> {{ lan.name }}</a></li>
            {% endfor %}
        </ul>
        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" id="id" value="{% if rates is defined %}{{ rates.id }}{% else %}0{% endif %}">
            <div class="box-body">
                {% if error is defined  %}
                    <div class="alert alert-warning alert-dismissible">
                        <ul>
                            {% for e in error %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="tab-content">
                    <div id="panel_ru" class="tab-pane fade in active">
                        <div class="form-group">
                            <label for="title_ru" class="col-sm-2 control-label">Название (ru)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_ru" id="title_ru" placeholder="Название" value="{% if rates is defined %}{{ rates.title_ru }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description_ru" class="col-sm-2 control-label">Описание (ru)</label>
                            <div class="col-sm-6">
                        <textarea name="description_ru" id="editor1" rows="10" cols="80">
                            {% if rates is defined %}{{ rates.description_ru }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                    </div>
                    <div id="panel_us" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_us" class="col-sm-2 control-label">Название (en)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_us" id="title_us" placeholder="Название" value="{% if rates is defined %}{{ rates.title_us }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description_us" class="col-sm-2 control-label">Описание (en)</label>
                            <div class="col-sm-6">
                        <textarea name="description_us" id="editor2" rows="10" cols="80">
                            {% if rates is defined %}{{ rates.description_us }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                    </div>
                    <div id="panel_cn" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_cn" class="col-sm-2 control-label">Название (cn)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_cn" id="title_cn" placeholder="Название" value="{% if rates is defined %}{{ rates.title_cn }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description_cn" class="col-sm-2 control-label">Описание (cn)</label>
                            <div class="col-sm-6">
                        <textarea name="description_cn" id="editor3" rows="10" cols="80">
                            {% if rates is defined %}{{ rates.description_cn }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                    </div>
                    <div id="panel_fr" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_fr" class="col-sm-2 control-label">Название (fr)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_fr" id="title_fr" placeholder="Название" value="{% if rates is defined %}{{ rates.title_fr }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description_fr" class="col-sm-2 control-label">Описание (fr)</label>
                            <div class="col-sm-6">
                        <textarea name="description_fr" id="editor4" rows="10" cols="80">
                            {% if rates is defined %}{{ rates.description_fr }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                    </div>
                    <div id="panel_es" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_es" class="col-sm-2 control-label">Название (es)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_es" id="title_es" placeholder="Название" value="{% if rates is defined %}{{ rates.title_es }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description_es" class="col-sm-2 control-label">Описание (es)</label>
                            <div class="col-sm-6">
                        <textarea name="description_es" id="editor5" rows="10" cols="80">
                            {% if rates is defined %}{{ rates.description_es }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                    </div>
                    <div id="panel_vn" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_vn" class="col-sm-2 control-label">Название (vn)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_vn" id="title_vn" placeholder="Название" value="{% if rates is defined %}{{ rates.title_vn }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description_vn" class="col-sm-2 control-label">Описание (vn)</label>
                            <div class="col-sm-6">
                        <textarea name="description_vn" id="editor6" rows="10" cols="80">
                            {% if rates is defined %}{{ rates.description_vn }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                    </div>
                    <div id="panel_tr" class="tab-pane fade">
                        <div class="form-group">
                            <label for="title_tr" class="col-sm-2 control-label">Название (tr)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="title_tr" id="title_tr" placeholder="Название" value="{% if rates is defined %}{{ rates.title_tr }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description_tr" class="col-sm-2 control-label">Описание (tr)</label>
                            <div class="col-sm-6">
                        <textarea name="description_tr" id="editor7" rows="10" cols="80">
                            {% if rates is defined %}{{ rates.description_tr }}{% endif %}
                        </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="isDefault" class="col-sm-2 control-label">По умолчанию</label>
                    <div class="col-sm-6">
                        <input type="checkbox" class="form-control-static" name="isDefault" id="isDefault" value="1" {% if rates is defined %}{% if rates.isDefault == 1 %} checked {% endif %}{% endif %} style="width: 25px;">
                    </div>
                </div>
                <div class="form-group">
                    <label for="isActive" class="col-sm-2 control-label">Активно</label>
                    <div class="col-sm-6">
                        <input type="checkbox" class="form-control-static" name="isActive" id="isActive" value="1" {% if rates is defined %}{% if rates.isActive == 1 %} checked {% endif %}{% endif %} style="width: 25px;">
                    </div>
                </div>
                <div class="form-group">
                    <label for="type" class="col-sm-2 control-label">Тип</label>
                    <div class="col-sm-6">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary {% if rates is defined %}{% if rates.type == 1 %}active{% endif %}{% endif %}">
                                <input type="radio" name="type" id="option1" value="1" autocomplete="off" {% if rates is defined %}{% if rates.type == 1 %}checked{% endif %}{% endif %}> Посуточный
                            </label>
                            <label class="btn btn-primary {% if rates is defined %}{% if rates.type == 2 %}active{% endif %}{% endif %}">
                                <input type="radio" name="type" id="option2" value="2" autocomplete="off" {% if rates is defined %}{% if rates.type == 2 %}checked{% endif %}{% endif %}> Почасовой
                            </label>
                        </div>
                    </div>
                </div>
                {% if rates.id > 0 %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">Тарифные таблицы</label>
                    <div class="col-sm-3">
                        {% for value in hotels %}
                            <a href="?list&tid={{ rates.id}}&hid={{ value.id }}" type="button" class="btn btn-block btn-primary">{{ value.title_ru }}</a>
                        {% endfor %}
                        {#<table class="table">#}
                            {#{% for value in hotels %}#}
                            {#<tr>#}
                                {#&#123;&#35;<td><a href="?tid={{ rates.id}}&hid={{ value.id }}&ttid=0" type="button" class="btn btn-block btn-success">Создать</a></td>&#35;&#125;#}
                                {#<td><a href="?list&tid={{ rates.id}}&hid={{ value.id }}" type="button" class="btn btn-block btn-primary">{{ value.title }}</a></td>#}
                            {#</tr>#}
                            {#{% endfor %}#}
                        {#</table>#}
                    </div>
                </div>
                {% endif %}

            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-success" name="save" id="save">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock %}
