{% extends "/admin/index.html.twig" %}
{% set menu_selected = 'rooms' %}

{% block content %}
    <div class="box box-info">
        <div class="box-header with-border">
            <ol class="breadcrumb">
                <li><a href="rooms.php"><i class="fa fa-bed"></i> Номера</a></li>
                <li class="active">{% if rooms is defined %}{{ rooms.title_ru }}{% else %}Новый номер{% endif %}</li>
            </ol>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" id="id" value="{% if rooms is defined %}{{ rooms.id }}{% else %}0{% endif %}">
            <div class="box-body">
                {% if error is defined  %}
                    <div class="alert alert-warning alert-dismissible">
                        <ul>
                            {% for e in error %}
                                <li>{{ e }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="title_ru" class="col-sm-2 control-label">Название (ru)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="title_ru" id="title_ru" placeholder="Название" value="{% if rooms is defined %}{{ rooms.title_ru }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="title_us" class="col-sm-2 control-label">Название (en)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="title_us" id="title_us" placeholder="Название" value="{% if rooms is defined %}{{ rooms.title_us }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="title_cn" class="col-sm-2 control-label">Название (cn)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="title_cn" id="title_cn" placeholder="Название" value="{% if rooms is defined %}{{ rooms.title_cn }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="seats_count" class="col-sm-2 control-label">Количество гостей</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="seats_count" id="seats_count" placeholder="Количество гостей в номере" value="{% if rooms is defined %}{{ rooms.seats_count }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="isActive" class="col-sm-2 control-label">Активно</label>
                    <div class="col-sm-6">
                        <input type="checkbox" class="form-control-static" name="isActive" id="isActive" value="1" {% if rooms is defined %}{% if rooms.isActive == 1 %} checked {% endif %}{% endif %} style="width: 25px;">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description_ru" class="col-sm-2 control-label">Описание (ru)</label>
                    <div class="col-sm-6">
                        <textarea name="description_ru" id="editor1" rows="10" cols="80">
                            {% if rooms is defined %}{{ rooms.description_ru }}{% endif %}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description_us" class="col-sm-2 control-label">Описание (en)</label>
                    <div class="col-sm-6">
                        <textarea name="description_us" id="editor2" rows="10" cols="80">
                            {% if rooms is defined %}{{ rooms.description_us }}{% endif %}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description_cn" class="col-sm-2 control-label">Описание (cn)</label>
                    <div class="col-sm-6">
                        <textarea name="description_cn" id="editor3" rows="10" cols="80">
                            {% if rooms is defined %}{{ rooms.description_cn }}{% endif %}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="logo" class="col-sm-2 control-label">Фото номера</label>
                    <div class="col-sm-8">
                        {% if rooms.image is not null %}
                            <div><img src="{{ rooms.image }}" > </div>
                            <br>
                        {% endif %}
                        <input type="file" name="image" class="form-control" id="image">
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer -->
            <div class="box-footer">
                <button type="submit" class="btn btn-success" name="save" id="save">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock %}
