{% extends '/front/index.html.twig' %}
{% set metadesc = hotel.meta_desc %}
{% set metakey = hotel.meta_key %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>Гостиница {{ hotel.title }}</h1>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card_2 caption color_1">
							<span class="address">
								<i class="fa fa-subway"></i> {{ hotel.subway }}<br>
								<i class="fa fa-map-marker"></i> {{ hotel.address }}</span><br>
                        <i class="fa fa-envelope"></i> <a href="mailto:{{ hotel.email }}">{{ hotel.email }}</a></span><br>
                        </span>
                        <hr><span class="phone"><i class="fa fa-mobile"></i> <a href="tel: {{ hotel.phone }}"> {{ hotel.phone }}</a></span>
                        {% if hotel.phone2 is not empty %}<hr><span class="phone"><i class="fa fa-mobile"></i> <a href="tel: {{ hotel.phone2 }}"> {{ hotel.phone2 }}</a></span>{% endif %}
                    </div>
                    <div class="card_2 caption color_4">
                        {{ hotel.description|raw }}
                    </div>
                    <div class="card_2 caption color_3">
                        <h3>{{ block.title }}</h3>
                        <p>
                        {{ block.text|raw }}
                        </p>
                    </div>
                    {% if additional is not empty %}
                    <div class="card_2 caption color_2">
                        <h3>Дополнительные услуги</h3>
                        <p>
                        <ul>
                            {% for value in additional %}
                            <li><b>{{ value.title }}:</b> {{ value.cost }} р.</li>
                            {% endfor %}
                        </ul>
                        </p>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-8">
                    <div class="card_2 caption">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Гостиница</h2>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            {% if img.images_overall is not null %}
                                {% for value in img.images_overall %}
                            <div class="col-md-3 col-sm-6 col-xs-12 thumb">
                                <a class="fancyimage" rel="group#_ovr" href="{{ img.path_overall }}/{{ value }}">
                                    <img class="img-responsive" style="max-width: 250px !important" src="{{ img.path_overall }}/{{ value }}">
                                </a>
                            </div>
                                    {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                </div>
                <div class="col-md-8">
                    {% for row in info %}
                    <div class="card_2 caption">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>{{ row.title }}</h2> {% if row.online_link is not empty %}<a href="{{ row.online_link }}" class="btn btn-success">Забронировать</a>{% endif %}
                                <hr>
                            </div>
                            <div class="col-md-8">
                                {{ row.description|raw }}
                            </div>
                            <div class="col-md-4">
                                <span class="price">от {{ row.cost }} руб./сутки</span><br>
                                {#<span class="price">{{ row.cost_hour }} руб./час</span>#}
                            </div>
                        </div>
                        <div class="row">
                            {% if row.images is not null %}
                                {% for value in row.images %}
                            <div class="col-md-3 col-sm-6 col-xs-12 thumb">
                                <a class="fancyimage" rel="group#_{{ row.id }}" href="{{ row.path }}/{{ value }}">
                                    <img class="img-responsive" style="max-width: 250px !important" src="{{ row.path }}/{{ value }}">
                                </a>
                            </div>
                                    {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="col-md-12">
                    <div class="card_2 caption color_1">
                        <h2>Как добраться?</h2>
                        <p>
                       {{ hotel.address_description|raw }}
                        </p>
                        <script type="text/javascript" charset="utf-8" src="{{ hotel.maps_link }}"></script>
                    </div>
                </div>
            <div class="col-md-12">
                <div class="card_2 caption color_4">
                    <div>
                        <h2>Отзывы</h2>
                        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Оставить отзыв</button>
                </div>
            </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade slide left" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>

                    </button>
                    <h1 class="modal-title" id="myModalLabel">Оставить отзыв</h1>

                </div>
                <div class="modal-body">
                    {#<p class="lead">Please get in touch!</p>#}
                    <form action="/inc/pages/review.php" method="post" id="myForm">
                        <input type="hidden" name="hid" value="{{ hotel.id }}">
                        <div class="form-group">
                            <label for="name">Имя:</label>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Введите ваше имя" value="" required/>
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail:</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Введите ваш Email" value="" required/>
                        </div>
                        <div class="form-group">
                            <label for="comment">Отзыв:</label>
                            <textarea class="form-control" id="comment" name="comment" required></textarea>
                        </div>
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="6LcMqiETAAAAAFnY9te6WYJB9N2bzT9qsdVvfn7Q"></div>
                        </div>
                        <input type="submit" name="submit" class="btn btn-success" value="Отправить">
                    </form>
                </div>
                {#<div class="modal-footer">#}
                    {#<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel Form</button>#}
                {#</div>#}
            </div>
        </div>
    </div>
    <script src='https://www.google.com/recaptcha/api.js?hl=ru'></script>
{% endblock %}