{% extends '/front/base.html.twig' %}
{% block body %}
    <header>
        <!-- == НАВИГАЦИЯ начало ============ -->
        <nav class="navbar navbar-inverse navbar-fixed-top gold_border" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="/"><img src="../../public/img/Logo_5.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        {% for val in menu %}
                            {% if val.code == 'hotels' %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ val.title }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for hotel in hotels %}
                                <li><a href="/hotels?id={{ hotel.id }}">{{ hotel.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                                {% else %}
                        <li><a href="/{{ val.code }}">{{ val.title }}</a></li>
                                {% endif %}
                        {% endfor %}
                        {% if language|length > 0 %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="flag flag-{{ lang.type }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="{{ lang.alt }}" title="{{ lang.title }}"><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for key, langs in language %}
                                <li><a href="#" class="lang-change" id="{{ key }}"><img class="flag flag-{{ key }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="{{ langs.alt }}" title="{{ langs.title }})"> {{ langs.alt }}</a></li>
                                    {% endfor %}
                            </ul>
                        </li>
                            {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {#<li><a href="{{ settings.vk_link }}" target="_blank"><i class="fa fa-vk fa-lg"></i></a></li>#}
                        {#<li><a href="{{ settings.youtube_link }}" target="_blank"><i class="fa fa-youtube-play fa-lg"></i></a></li>#}
                        {#<li><a href="{{ settings.fb_link }}" target="_blank"><i class="fa fa-facebook-official fa-lg"></i></a></li>#}
                        <li class="tel_nav"><a href="tel: {{ settings.phone_base }}">{{ settings.phone_base }}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- == НАВИГАЦИЯ конец ============ -->
        <!-- == КАРУСЕЛЬ начало ============ -->
        <div id="carousel-example-generic" class="carousel slide hidden-xs gold_border" data-ride="carousel">
            <ol class="carousel-indicators">
    {% for value in promo %}
        {% if value.description is not empty or value.title != "0" %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index-1 }}" {% if loop.index-1 == 0 %}class="active"{% endif %}></li>
            {% endif %}
        {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for value in promo %}
                    {% if value.description is not empty or value.title != "0" %}
                <div class="item {% if loop.index == 1 %}active{% endif %} item_image">
                    <img src="public/upload/images/promo/{{ value.slide_image }}" alt="..." class="">
                    <div class="carousel-caption">
                        <p class="price">{{ value.title }}</p>
                        {{ value.description|raw }}
                        <a class="btn btn-success btn-raised ripple-effect btn-lg" href="/promo?id={{ value.id }}" role="button">{% if lang.type == "ru" %}Подробней{% elseif lang.type == "us" %}More{% elseif lang.type == "cn" %}更多{% else %}Подробней{% endif %}</a>
                    </div>
                </div>
                        {% endif %}
                    {% endfor %}
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <!-- == КАРУСЕЛЬ конец ============ -->
    </header>
    <main>
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                <!-- start TL search form 2.0 -->
                <div id="tl-search-form"><br></div>
                <script type="text/javascript">
                    (function(w){
                        var q=[
                            ['setContext', 'TL-INT-hotel-hol.newtheme', '{% if lang.type == 'us' %}en{% else %}{{ lang.type }}{% endif %}'],
                            ['embed', 'search-form', {container: 'tl-search-form'}]
                        ];
                        var t=w.travelline=(w.travelline||{}),ti=t.integration=(t.integration||{});ti.__cq=ti.__cq?ti.__cq.concat(q):q;
                        if (!ti.__loader){ti.__loader=true;var d=w.document,p=d.location.protocol,s=d.createElement('script');s.type='text/javascript';s.async=true;s.src=(p=='https:'?p:'http:')+'//ibe.tlintegration.com/integration/loader.js';(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(s);}
                    })(window);
                </script>
                <!-- end TL search form 2.0 -->

              </div>
          </div>
      </div>
      <!-- == БРОНИРОВАНИЕ конец ============ -->
      <div class="container">
        <div class="row">
          <div class="col-md-4 center-block">
            <iframe frameborder="no" scrolling="no" style="text-align:center; width:auto;height:150px;" src="https://yandex.ru/time/widget/?geoid=213&lang={% if lang.type == "ru" %}ru{% else %}en{% endif %}&layout=horiz&type=analog&face=digits"></iframe>
            <!-- <iframe frameborder="no" scrolling="no" style="width:280px;height:150px;" src="https://yandex.ru/time/widget/?geoid=213&lang=ru&layout=horiz&type=digital&face=serif"></iframe> -->
          </div>
          <div class="col-md-4 center-block">
            {#<iframe src="http://moscow.exdex.ru/ya_widget_freeset/?inc_cbrf=1&css=th,td{border:none}&hlg=1&bid=154" frameborder="0" width="230" height="130" style="overflow:hidden;"></iframe>#}
              <iframe src="http://www.forex-informers.ru/ru/exchange_rates/informer/t=horizontal&w=280&lng=ru&ls=0&symbol=rur&stype=bid&src=s&th=l&b=1_ffffff&h_ff=h&h_fs=14&h_c=B9B9B9&q_ff=h&q_fs=16&q_c=000&c_ff=h&c_fs=14&f_ff=h&f_c=737373" frameborder="0"  scrolling="no" title="InstaForex.com"></iframe><noframes><a href="http://www.forex-informers.ru/ru/" target="blank">"</a></noframes>

          </div>
          <div class="col-md-4 center-block">
              {% if lang.type == "ru" %}
            <link rel="stylesheet" type="text/css" href="https://bst1.gismeteo.ru/assets/flat-ui/legacy/css/informer.min.css">
            <div id="gsInformerID-u7v7v6y8J2r27Q" class="gsInformer" style="width:290px;height:122px">
              <div class="gsIContent">
                <div id="cityLink">
                <a href="https://www.gismeteo.ru/city/daily/4368/" target="_blank">Погода в Москве</a>
                </div>
                <div class="gsLinks">
                  <table>
                    <tr>
                        <td>
                        <div class="leftCol">
                          <a href="https://www.gismeteo.ru/" target="_blank">
                            <img alt="Gismeteo" title="Gismeteo" src="https://bst1.gismeteo.ru/assets/flat-ui/img/logo-mini2.png" align="middle" border="0" />
                            <span>Gismeteo</span>
                          </a>
                        </div>
                        <div class="rightCol">
                          <a href="https://www.gismeteo.ru/city/weekly/4368/" target="_blank">Прогноз на 2 недели</a>
                        </div>
                        </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <script async src="https://www.gismeteo.ru/api/informer/getinformer/?hash=u7v7v6y8J2r27Q" type="text/javascript"></script>
                  {% else %}
              <link rel="stylesheet" type="text/css" href="https://s1.gismeteo.ua/static/css/informer2/gs_informerClient.min.css">
                  <div id="gsInformerID-WgPh18F85oFDbJ" class="gsInformer" style="width:290px;height:108px">
                      <div class="gsIContent">
                          <div id="cityLink">
                              <a href="https://www.gismeteo.com/weather-moscow-4368/" target="_blank">Weather in Moscow</a>
                          </div>
                          <div class="gsLinks">
                              <table>
                                  <tr>
                                      <td>
                                          <div class="leftCol">
                                              <a href="https://www.gismeteo.com" target="_blank">
                                                  <img alt="Gismeteo" title="Gismeteo" src="https://s1.gismeteo.ua/static/images/informer2/logo-mini2.png" align="absmiddle" border="0" />
                                                  <span>Gismeteo</span>
                                              </a>
                                          </div>
                                          <div class="rightCol">
                                              <a href="https://www.gismeteo.com/weather-moscow-4368/14-days/" target="_blank">2-weeks forecast</a>
                                          </div>
                                      </td>
                                  </tr>
                              </table>
                          </div>
                      </div>
                  </div>
                  <script src="https://www.gismeteo.ua/ajax/getInformer/?hash=WgPh18F85oFDbJ" type="text/javascript"></script>
                  {% endif %}
            <!-- Gismeteo informer END -->
          </div>
        </div>
      </div>  
    {% block content %}{% endblock %}
    </main>
    <!-- == подвал начало ============================== -->
    <footer>
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                  <hr>
                  <p class="text-muted">Copyright <i class="fa fa-copyright"></i>{{ 'now'|date('Y') }} Hotel-hol. Все права защищены</p>
              </div>
            </div>
        </div>
    </footer>

    <div class="hidden"></div>
    <div class="loader">
        <div class="loader_inner"></div>
    </div>
{% endblock %}