{% extends '/front/index.html.twig' %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>{{ block.title }}</h1>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card_2 caption color_1">
                       {{ block.text|raw }}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card caption">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">{% if lang.type == "ru" %}Выберите количество гостей в номере{% elseif lang.type == "us" %}Guests{% elseif lang.type == "cn" %}賓客{% else %}выберите количество гостей в номере{% endif %}</label>
                            <div class="col-sm-8">
                                <select name="guests" class="form-control input-sm">
                                    {% for i in 1..settings.guests_count %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">{% if lang.type == "ru" %}Выберите тариф{% elseif lang.type == "us" %}Tariff{% elseif lang.type == "cn" %}關稅{% else %}выберите тариф{% endif %}</label>
                            <div class="col-sm-8">
                                <select name="tariff" class="form-control input-sm">
                                    {% for t in rates %}
                                        <option value="{{ t.id }}">{{ t.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                        <div class="card_2 caption color_4">
                            {{ rates.0.description|raw }}
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>{% if lang.type == "ru" %}Отель{% elseif lang.type == "us" %}Hotel{% elseif lang.type == "cn" %}飯店{% else %}Отель{% endif %}</th>
                                    {% for room in rooms %}
                                    <th>{{ room.title }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for hotel in hotels %}
                                <tr>
                                    <td><a class="ab1" href="/hotels?id={{ hotel.id }}">«{{ hotel.title }}»</td>

                                        {% for room in rooms %}
                                    <td class="{{ hotel.id }}_{{ room.id }}">{{ hotels_rates[hotel.id][room.id] }}</td>
                                            {% endfor %}


                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card caption">
                        <div class="form-group">
                            <label class="control-label">{% if lang.type == "ru" %}Цены на дополнительные услуги{% elseif lang.type == "us" %}Prices for additional services{% elseif lang.type == "cn" %}價格附加服務{% else %}Цены на дополнительные услуги{% endif %}</label>
                        </div>
                        <div style="clear: both"></div>
                        {#{% for service in services %}#}
                        {#<div class="panel panel-default">#}
                            {#<div class="panel-heading">#}
                                {#<button type="button" class="btn btn-success btn-xs spoiler-trigger" data-toggle="collapse">{{ service.title }}</button>#}
                            {#</div>#}
                            {#<div class="panel-collapse collapse out">#}
                                {#<div class="panel-body">#}
                                    {#<div class="card_2 caption color_4">#}
                                        {#{{ service.description|raw }}#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#{% endfor %}#}
                    {#Цены на дополнительные услуши в табличном виде#}
                        <div id="serv-desc" class="card_2 caption color_4 hide"></div>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>{% if lang.type == "ru" %}Отель{% elseif lang.type == "us" %}Hotel{% elseif lang.type == "cn" %}飯店{% else %}Отель{% endif %}</th>
                                    {% for service in services %}
                                        <th><a href="#" class="serv-info" rel="{{ service.id }}">{{ service.title }} <span class="glyphicon glyphicon-info-sign"></span></a></th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for hotel in hotels %}
                                <tr>
                                    <td><a class="ab1" href="/hotels?id={{ hotel.id }}">«{{ hotel.title }}»</td>

                                        {% for service in services %}
                                    <td>{{ services_rates[hotel.id][service.id] }}</td>
                                            {% endfor %}


                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                    {#Цены на дополнительные услуши в табличном виде#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}